<ion-header class="ion-no-border" translucent mode="ios">
  <ion-toolbar class="ion-text-center" [color]="pokemon.types[0]">
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/home" mode="ios" text="Pokédex"></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
<ion-content [color]="pokemon.types[0]" fullscreen="true" slot="fixed" >
  <div class="card">
    <div class="header">
      <div class="avatar">
        <img src="assets/images/{{pokemon.image}}" alt="">
      </div>
    </div>
    <div class="card-body">
      <div class="user-meta ion-text-center">
        <h3 class="pokemon-name">{{pokemon.name | titlecase}}</h3>
        <div class="types">
          <ion-badge *ngFor="let type of pokemon.types; let i = index" [color]="type" [ngClass]="i > 0 ? 'ml-5' : ''">
            <img src="assets/types/{{type | titlecase}}.png">
            <span>{{type | titlecase}}</span>
          </ion-badge>
        </div>

        <div class="description">
          <p>{{pokemon.description}}</p>
        </div>

        <ion-segment (ionChange)="segmentChanged($event)" value="stats" ngClass="{{pokemon.types[0]}}">
          <ion-segment-button value="stats">
            <ion-label>Stats</ion-label>
          </ion-segment-button>
          <ion-segment-button value="evolutions">
            <ion-label>Evolutions</ion-label>
          </ion-segment-button>
          <ion-segment-button value="moves">
            <ion-label>Moves</ion-label>
          </ion-segment-button>
        </ion-segment>
      </div>
    </div>
  </div>
</ion-content>
