.card {
  margin: 0 auto;

  .header {
    height: 150px; // 20vh;

    .avatar {
      width: 160px; //40vw
      height: 110px;
      position: relative;
      margin: 0 auto;

      img {
        display: block;
        position: absolute;
        bottom: calc(-1*(80px + 4px)); // -42px;
      }
    }
  }
}

.card-body {
  background-color: #ffffff;
  padding: 30px;
  height: calc(100vh - (200px + 56px));
  overflow: hidden;
  border-radius: 45px 45px 0px 0px;
  -moz-border-radius: 45px 45px 0px 0px;
  -webkit-border-radius: 45px 45px 0px 0px;
  border: 0px solid #000000;

  .user-meta {
    padding-top: 10px;

    .pokemon-name {
      font-size: 24px;
      font-weight: 600;
      color: #303940;
    }

    ion-badge {
      margin-top: 8px;
      color: white;
      img {
        width: 20px;
        float: left;
      }
      span {
        padding-left: 3px;
        float: right;
        line-height: 22px;
      }
    }
  }
}
